:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
}

input,
button {
  border: none;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: none;
}

input {
  padding: 1.6rem;
  width: 5rem;
  background-color: #dce2e9;
}

button {
  font-weight: 700;
  background: #7879f1;
  color: #fff;
  padding: 1.6rem;
}
